.student-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.student-card h2 {
  font-size: 18px;
  margin: 0;
}

.student-card p {
  font-size: 14px;
  margin: 5px 0;
}

.student-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.student-card ul {
  list-style-type: disc;
  margin-left: 20px;
}

.student-card li {
  font-size: 14px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh; /* Set a height for the full viewport height */
}

.form-container {
  width: 30%; /* Adjust the width as per your design */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.data-display-container {
  width: 70%; /* Adjust the width as per your design */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}
