.body {
  font-family: "proxima-nova-soft", sans-serif;
}

.student-card {
  background-color: aliceblue;
  border: 1px solid #0096fb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 14.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 16px;
  padding: 20px;
}

.student-card>* {
  margin: 0;
}

/* .student-card h2 {
  font-size: 18px;
  margin: 0;
}

.student-card p {
  font-size: 14px;
  margin: 5px 0;
}

.student-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.student-card ul {
  list-style-type: disc;
  margin-left: 20px;
}

.student-card li {
  font-size: 14px;
} */

.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  gap: 80px;
}

.form-container {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  height: 100%;
  width: 100%;
  font-family: "proxima-nova-soft", sans-serif;
}

.data-display-container {
  width: 70%;
  /* Adjust the width as per your design */
  padding: 20px;
  overflow-y: auto;
  /* Enable vertical scrolling if needed */
  flex: 1;
}

.form {
  border: 3px solid cornflowerblue;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

}

.searchWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 28px;
  padding: 5px;
  position: relative;
  
  margin-bottom: 12px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  height: 28px;
}

.submit-button {
  width: 200px;
  background-color: gold;
  display: flex;
  align-items: center;
  border-radius: 14px;
  border: 2px solid gold;
}

.bn49 {
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 14px;
  width: 150px;
  margin: auto;
  color: #ffffff;
  background-color: #36a2eb;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.subject-field {
  display: flex;
  align-items: center;
}

.multiSelectContainer {}

.button-style {
  padding: 6px;
  margin-left: 6px;
  width: 140px;
}